.about {
    margin-top: 5em;
    margin-bottom: 5em;
}

/* Img que no crezca demasiado */
.about-img {
    max-height: 25em;
}

/* NO GRID SUPORT */
/* img float y el resto del contenido se adapta         */
/* Media (- de 42em) -> todo es block                   */
/* Media (+ de 42em) -> Img flota y el resto se adapta  */
@media (min-width: 42em){
    .about-img {
        float: left;
        margin-right: 1em;    
    }
}

.about-subtitle {
    margin: .5em 0;
}

.about-title {
    margin-bottom: .25em;    
}

@supports (display: grid){
   .about {
      display: grid;
      /*
         3 columnas. Visto desde la foto, la primera para el espacio en blanco a la izquierda del nombre, otra desde que empieza el nombre hasta que termina la foto y la tercera el resto
      */
       grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [port-end];
   }

   .about-img {
       grid-column: port-start / img-end;
       grid-row: 1 / 2;
       
   }

   .about-title{
       grid-column: name-start / port-end;
       grid-row: 1 / 2;
       align-self: end;
   }

   .about-subtitle,
   .about-text {
       grid-column: port-start / port-end;
   }
}