.welcome{
   background-image: url(../img/header-bg.png);
   background-size: cover;
   background-position: center;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.welcome h1{
   font-size: 1.5rem;
   font-weight: var(--fw-n);
   color: var(--dark-blue);
   line-height: 1.5;
   text-align: center;
}

.welcome h1::before,
.welcome h1::after{
   content: '';
   display: block;
   width: 40%;
   height: 1px;
   background: var(--dark-blue);
}

.welcome h1::before { margin: 0 auto 2em; }
.welcome h1::after { margin: 2em auto 0; }

.welcome h1 span{
   font-family: 'Six Caps';
   display: block;
   font-size: 5.5rem;
   letter-spacing: var(--letter-spacing);
   color: var(--blue);
}