@import '_normalize.css';
@import '_colors.css';
@import '_typography.css';
@import '_welcome.css';
@import '_intro.css';
@import '_base.css';
@import '_about.css';
@import '_portfolio.css';
@import '_contact.css';
@import '_footer.css';
@import '_nav.css';

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps');