.contact {
    padding: 5em 0;
}

.contact h1 {
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
}

/* No hace falta con el flex */
.contact input,
.contact textarea,
.contact label {
    display: block;
}

.contact label {
    margin-top: 1em;
}

.contact input,
.contact textarea {
    background: var(--light-grey);
    border: 1px solid var(--grey);
    box-sizing: border-box;
    font-size: 1.2rem;
    padding: .75rem;
    width: 100%;
}

input.button {
    background: var(--blue);
    border: none;
    color: var(--white);
    font-family: 'Six Caps';
    font-size: 1.5em;
    letter-spacing: var(--letter-spacing);
    /* A la izq sin float */
    margin-left: auto;
    margin-top: 1em;
    text-transform: capitalize;
    width: 30%;
}
