footer {
    background: var(--dark-blue);
    /* box-sizing: border-box; */
    padding: 5em 0;
    text-align: center;
}

.social-icons{
    /* sobreescribir .container */
    max-width: 15em;

    display: flex;
    justify-content: space-between;
}

.social-icon {
    width: 25%;
    height: 25%;
    margin: 1em auto 4em;
}

.copyright::before {
    content: '';
    display: block;
    width: 25%;
    background: var(--white);
    opacity: .2;
    height: 1px;
    margin: 0 auto 4em;
}
