.intro {
   display: flex;
   color: rgba(var(--white), .7) ;
}

.intro h2 {
   color: var(--white);
}

.intro h2::after{
   content: '';
   display: block;
   width: 20%;
   height: 1px;
   margin: 1em auto 0;
   background: rgba(255, 255, 255, .5);
}

@supports (display: grid) {
   .intro{
      display: grid;
      grid-template-columns: minmax(4em, 1fr) minmax(auto, 40em) minmax(4em, 1fr)      
   }
}

.intro-middle {
   background: var(--dark-blue);
   padding: 3em 5vw;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.intro-left img,
.intro-right img {
   min-height: 100%;
   min-width: 100%;
   object-fit: cover;
   /* IMG es ¿inline-block? y eso hace que aparezcan pequeños huecos */
   /* Como en los menu con inline-block */
   display: block;
}
