.menu-button {
   position: absolute;
   top: 3em;
   left: 3em;
   background: transparent;
   border: 0;
   outline: none;
}

nav {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 20%;
   z-index: 10;

   transform: translateX(-100%);
   transition: transform ease-out .3s;
}

/* Nav & content transition */
.nav-open nav { 
   transform: translateX(0) 
}
.nav-open .container-all { 
   transform: translateX(80%) 
}
.container-all { 
   transition: transform ease-out .3s 
}
body.nav-open { overflow: hidden }

/* Nav Icons */
.close-icon { display: none; }
.burguer-icon { display: block; }
.nav-open .close-icon { display: block; transform: translateX(-60%); }
.nav-open .burguer-icon { display: none; }

/* Al ser ul flex, los li no son como block y se encogen al tamaño del contenido. Stretch hace que se estiren a lo ancho */

nav ul {
   margin: 0;
   padding: 0;
   height: 100vh;
   list-style: none;
   background: var(--blue);   

   display: flex;
   align-items: stretch;
   flex-direction: column;
   justify-content: space-around;
}

nav li {
   text-align: center;
   border-bottom: 1px solid var(--dark-blue);
}

nav li:hover {
   background: rgba(34, 56, 67, .25);
}

nav a {
   font-family: 'Six Caps';
   font-size: 4rem;
   text-align: center;   
   text-decoration: none;
   
   display: inline-block; 
   /* Dividimos en 8 partes (padding top y bottom de los 4 enlaces) y con line height hacemos que no cuente el texto para el calculo 
   A veces el calc da decimales y el ultimo borde inferior queda algo desplazado */
   padding: calc(100vh/8) 0;
   line-height: 0;
   width: 100%;
   color: var(--dark-blue);
}
